USE [master]
GO
/****** Object:  Database [AvanceProyecto]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'AvanceProyecto')
BEGIN
CREATE DATABASE [AvanceProyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AvanceProyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AvanceProyecto.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AvanceProyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AvanceProyecto_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AvanceProyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AvanceProyecto]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) NOT NULL,
	[APELLIDOS] [varchar](75) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[CORREO] [varchar](150) NOT NULL,
	[RFC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[ID_DETALLE_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_ORDEN_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [float] NOT NULL,
	[TOTAL]  AS ([PRECIO]*[CANTIDAD]),
 CONSTRAINT [PK_DETALLE_COMPRA_1] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) NOT NULL,
	[APELLIDOS] [varchar](75) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[CORREO] [varchar](150) NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FACTURA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [uniqueidentifier] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_CLIENTE] [uniqueidentifier] NOT NULL,
	[ID_VENTA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ID_VENTA_EMPLEADO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ID_VENTA_EMPLEADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ID_VENTA_EMPLEADO](
	[ID_VENTA] [uniqueidentifier] NOT NULL,
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ID_VENTA_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ID_VENTA_PRODUCTO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ID_VENTA_PRODUCTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ID_VENTA_PRODUCTO](
	[ID_VENTA] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [float] NOT NULL,
	[SUBTOTAL]  AS ([precio]*[cantidad]),
	[FECHA] [date] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INVENTARIO](
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CANTIDAD_ALMACEN] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_ALMACEN] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ORDEN_COMPRA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID_ORDEN_COMPRA] [uniqueidentifier] NOT NULL,
	[ID_PROVEEDOR] [uniqueidentifier] NOT NULL,
	[FECHA_ORDEN_COMPRA] [date] NOT NULL,
 CONSTRAINT [PK_ORDEN_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](50) NOT NULL,
	[CONCENTRACIÓN] [varchar](50) NOT NULL,
	[FORMA_FARMACEUTICA] [varchar](50) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[ID_PROVEEDOR] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVEEDOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](75) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[CORREO] [varchar](150) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUESTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PUESTO](
	[ID_PUESTO] [uniqueidentifier] NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
	[SUELDO] [money] NOT NULL,
 CONSTRAINT [PK_PUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](25) NOT NULL,
	[ID_EMPLEADO] [uniqueidentifier] NOT NULL,
	[ADMINISTRADOR] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VentaTotal]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VentaTotal]'))
EXEC dbo.sp_executesql @statement = N'create view [dbo].[VentaTotal] as
select ve.id_venta as ID, e.nombre as NombreEmpleado, e.apellidos as ApellidosEmpleado, vp.fecha as Fecha, SUM(vp.Subtotal) as Total
from id_venta_Empleado ve
inner join id_venta_producto vp on ve.ID_venta = vp.ID_venta
inner join empleado e on ve.id_empleado = e.id_empleado
Group by ve.id_venta, vp.fecha, e.nombre, e.apellidos, vp.fecha' 
GO
/****** Object:  View [dbo].[TotalFactura]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TotalFactura]'))
EXEC dbo.sp_executesql @statement = N'
create view [dbo].[TotalFactura] as
select c.nombre as NombreCliente, c.apellidos as ApellidosClientes, f.fecha as FechaFactura, vt.total as Total
from factura f 
inner join cliente c on f.Id_cliente = c.id_cliente
inner join VentaTotal vt on f.id_venta = vt.id
' 
GO
/****** Object:  View [dbo].[Detalle_Producto_porTipo]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Detalle_Producto_porTipo]'))
EXEC dbo.sp_executesql @statement = N'create view [dbo].[Detalle_Producto_porTipo] as
select p.forma_farmaceutica as Tipo,  SUM(d.precio) as PrecioTotal, SUM(d.cantidad) as CantidadTotal
from Detalle_Compra d
join Producto p on d.ID_producto = p.ID_Producto
Group by p.forma_farmaceutica' 
GO
/****** Object:  View [dbo].[FechaOrdenCompraProveedor]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[FechaOrdenCompraProveedor]'))
EXEC dbo.sp_executesql @statement = N'create view [dbo].[FechaOrdenCompraProveedor] as 

select PROVEEDOR.NOMBRE, ORDEN_COMPRA.FECHA_ORDEN_COMPRA
FROM PROVEEDOR

left join ORDEN_COMPRA ON PROVEEDOR.ID_PROVEEDOR = ORDEN_COMPRA.ID_PROVEEDOR

' 
GO
/****** Object:  View [dbo].[Nomina]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Nomina]'))
EXEC dbo.sp_executesql @statement = N'
create view [dbo].[Nomina] as

select e.nombre as Nombre, e.apellidos as Apellidos, p.tipo as Puesto, p.sueldo as Sueldo
from Empleado e 
join puesto p on e.id_puesto = p.id_puesto ' 
GO
/****** Object:  View [dbo].[ProveedorProductoCantidad]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ProveedorProductoCantidad]'))
EXEC dbo.sp_executesql @statement = N'create view [dbo].[ProveedorProductoCantidad] as
select prod.nombre_producto as Producto, i.cantidad_almacen as Cantidad, prov.nombre as Proveedor
from producto prod
join proveedor prov on prod.ID_proveedor = prov.ID_proveedor
join inventario i on prod.ID_producto = i.ID_producto' 
GO
/****** Object:  View [dbo].[USUARIOSADMIN]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOSADMIN]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[USUARIOSADMIN] AS
SELECT usr.ID_EMPLEADO, usr.ID_USUARIO, usr.ADMINISTRADOR, emp.NOMBRE, emp.APELLIDOS, emp.TELEFONO, emp.CORREO
FROM [EMPLEADO] emp
INNER JOIN [USUARIOS] as usr on usr.ID_EMPLEADO = emp.ID_EMPLEADO
' 
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDOS], [TELEFONO], [DIRECCION], [CORREO], [RFC]) VALUES (N'9703bd7f-7a8a-4365-bcd6-149854387b27', N'Antonio', N'Leal Valdez', N'8114787450', N'Av.Lopez Mateos #1201', N'antoniteach@gmail.com', N'ANT74ASD8QJ5D')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDOS], [TELEFONO], [DIRECCION], [CORREO], [RFC]) VALUES (N'1e6402dd-18db-40f5-bfcc-1f0e9ce612eb', N'Juana', N'Villanueva Andrare', N'8118784502', N'Av.Acesnsio #848', N'secu34dired@gmail.com', N'JUA78QAS3245D')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDOS], [TELEFONO], [DIRECCION], [CORREO], [RFC]) VALUES (N'8c87442a-a9d1-495e-93ac-22cbcb9ab908', N'Miguel', N'Martinez Palma', N'8114598760', N'Av.Los Pericos #3991', N'miguel.mtzza@hotmail.com', N'MA1257AQWE74Y')
INSERT [dbo].[DETALLE_COMPRA] ([ID_DETALLE_COMPRA], [ID_ORDEN_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO]) VALUES (N'1a94c145-eec6-458d-9294-038939c3c92c', N'ec48922c-3a41-4fc8-b90e-4f862e16066e', N'403bd7eb-faf6-4394-8efc-228df7487654', 150, 380)
INSERT [dbo].[DETALLE_COMPRA] ([ID_DETALLE_COMPRA], [ID_ORDEN_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO]) VALUES (N'c8fb2d59-6bb2-41ad-bfaf-195da86755fb', N'eb1419af-634b-423b-8340-68cf7506ca11', N'3730d75d-bbac-42cd-8685-89c53a9f325e', 100, 244)
INSERT [dbo].[DETALLE_COMPRA] ([ID_DETALLE_COMPRA], [ID_ORDEN_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO]) VALUES (N'46101048-f5a2-417f-a6f5-1c57c0036da5', N'5fe8bfb5-7002-4d5e-9d25-c20a00278657', N'24e41a99-744a-454b-83f2-d85152720643', 300, 117)
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PUESTO], [NOMBRE], [APELLIDOS], [TELEFONO], [CORREO]) VALUES (N'aebdb8c8-15af-4d32-86c6-0bd684fe0a0d', N'032faf0f-c76c-4827-992f-4bdeb2de15ac', N'Martha', N'Sanchez Padilla', N'8114899632', N'marthasanchez03@gmail.com')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PUESTO], [NOMBRE], [APELLIDOS], [TELEFONO], [CORREO]) VALUES (N'e9375359-b1cc-4d68-b843-39ee13ef5b8b', N'032faf0f-c76c-4827-992f-4bdeb2de15ac', N'Leandro', N'Lopez Beltran', N'8114587801', N'leobeltri@hotmail.com')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PUESTO], [NOMBRE], [APELLIDOS], [TELEFONO], [CORREO]) VALUES (N'a6182096-27e4-46b0-9bcd-947a311ce397', N'032faf0f-c76c-4827-992f-4bdeb2de15ac', N'Leslie', N'Alfaro Alfaro', N'8112021487', N'lesliealfaro@gmail.com')
INSERT [dbo].[FACTURA] ([ID_FACTURA], [FECHA], [ID_CLIENTE], [ID_VENTA]) VALUES (N'768ffaaa-8a12-421a-811c-29e04e1856bb', CAST(N'2017-09-25' AS Date), N'37ff2a71-e7e5-47c4-98c7-9042b6f8c50f', N'c0f51728-0943-4c22-b2b5-88194280509e')
INSERT [dbo].[FACTURA] ([ID_FACTURA], [FECHA], [ID_CLIENTE], [ID_VENTA]) VALUES (N'1a756edf-ffc9-46e3-8658-7261d00fbcb3', CAST(N'2017-09-24' AS Date), N'89badcb2-88be-46e1-9d28-cf59231c31b4', N'3ec9eb79-d126-465f-9182-6928e2480d9f')
INSERT [dbo].[FACTURA] ([ID_FACTURA], [FECHA], [ID_CLIENTE], [ID_VENTA]) VALUES (N'f0d59b90-48b8-447d-aa53-87f848891791', CAST(N'2017-09-24' AS Date), N'd93b7938-e199-48a7-8fde-ea5ee5fa68a2', N'3e3fb7b0-aba1-4983-9112-6b7ae047c789')
INSERT [dbo].[ID_VENTA_EMPLEADO] ([ID_VENTA], [ID_EMPLEADO]) VALUES (N'cdc79dc8-03db-4c2c-9aba-1d21090c97f1', N'6645327a-009d-499a-86ea-9bd82ab762da')
INSERT [dbo].[ID_VENTA_EMPLEADO] ([ID_VENTA], [ID_EMPLEADO]) VALUES (N'78017a46-3d60-4d84-bab3-2bceb8bd3fb6', N'a6182096-27e4-46b0-9bcd-947a311ce397')
INSERT [dbo].[ID_VENTA_EMPLEADO] ([ID_VENTA], [ID_EMPLEADO]) VALUES (N'69169ba2-a78e-4a4e-9bf3-3722c81a62b0', N'e9375359-b1cc-4d68-b843-39ee13ef5b8b')
INSERT [dbo].[ID_VENTA_PRODUCTO] ([ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [FECHA]) VALUES (N'd041ca70-bd47-40be-bf56-e91ffde40064', N'd9325116-f8fc-4969-a628-6424111bda8a', 4, 500.2, CAST(N'2017-09-21' AS Date))
INSERT [dbo].[ID_VENTA_PRODUCTO] ([ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [FECHA]) VALUES (N'd041ca70-bd47-40be-bf56-e91ffde40064', N'b2dbb3e4-5374-4736-a744-c660576c6016', 2, 80.2, CAST(N'2017-09-21' AS Date))
INSERT [dbo].[ID_VENTA_PRODUCTO] ([ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [FECHA]) VALUES (N'd041ca70-bd47-40be-bf56-e91ffde40064', N'c781ead6-7a74-4c50-a62c-e54cb2347549', 1, 250, CAST(N'2017-09-21' AS Date))
INSERT [dbo].[INVENTARIO] ([ID_PRODUCTO], [CANTIDAD_ALMACEN]) VALUES (N'210a66a9-0e71-45d3-b076-10502a970096', 46)
INSERT [dbo].[INVENTARIO] ([ID_PRODUCTO], [CANTIDAD_ALMACEN]) VALUES (N'602a33a8-7ec3-4925-8c23-13864e4c7429', 118)
INSERT [dbo].[INVENTARIO] ([ID_PRODUCTO], [CANTIDAD_ALMACEN]) VALUES (N'403bd7eb-faf6-4394-8efc-228df7487654', 148)
INSERT [dbo].[ORDEN_COMPRA] ([ID_ORDEN_COMPRA], [ID_PROVEEDOR], [FECHA_ORDEN_COMPRA]) VALUES (N'ec886f5b-3b6e-4b44-8f8c-08601ce37c57', N'cae2da4d-0b61-43ef-be88-d76b3736d33e', CAST(N'2017-07-21' AS Date))
INSERT [dbo].[ORDEN_COMPRA] ([ID_ORDEN_COMPRA], [ID_PROVEEDOR], [FECHA_ORDEN_COMPRA]) VALUES (N'036de336-ac0b-4c5c-bd5b-0df08c3b8642', N'2ad15e2a-8edb-4a79-b917-1b6f69f25499', CAST(N'2017-09-14' AS Date))
INSERT [dbo].[ORDEN_COMPRA] ([ID_ORDEN_COMPRA], [ID_PROVEEDOR], [FECHA_ORDEN_COMPRA]) VALUES (N'7814122f-f9bf-4c9a-9fc1-1f16bcefd644', N'cae2da4d-0b61-43ef-be88-d76b3736d33e', CAST(N'2017-10-01' AS Date))
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [CONCENTRACIÓN], [FORMA_FARMACEUTICA], [PRECIO], [ID_PROVEEDOR]) VALUES (N'210a66a9-0e71-45d3-b076-10502a970096', N'Teofilina   ', N'Solución oral   ', N'Jarabe  ', 86, N'ee42f401-e3c8-45f8-aae8-05fb224e64a9')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [CONCENTRACIÓN], [FORMA_FARMACEUTICA], [PRECIO], [ID_PROVEEDOR]) VALUES (N'602a33a8-7ec3-4925-8c23-13864e4c7429', N'Sulfadiacina', N'Tableta oral', N'Tableta oral', 190, N'bdd1e501-a2d5-491f-9d34-0aa7d52e37a6')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [CONCENTRACIÓN], [FORMA_FARMACEUTICA], [PRECIO], [ID_PROVEEDOR]) VALUES (N'403bd7eb-faf6-4394-8efc-228df7487654', N'Cloroquina', N'Inyección', N'Solución ', 450, N'ae5f1788-cdad-4f29-938f-13eb58ffa8f8')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE], [TELEFONO], [DIRECCION], [CORREO]) VALUES (N'ee42f401-e3c8-45f8-aae8-05fb224e64a9', N'Farmacos Tapía', N'8114569325', N'Av.Metro #469', N'farmacostapia@gmail.com')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE], [TELEFONO], [DIRECCION], [CORREO]) VALUES (N'bdd1e501-a2d5-491f-9d34-0aa7d52e37a6', N'Farmacos Juarez', N'8114796513', N'Av.Carlos Garza #748', N'farmacosjuarez@gmail.com')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE], [TELEFONO], [DIRECCION], [CORREO]) VALUES (N'ae5f1788-cdad-4f29-938f-13eb58ffa8f8', N'Farmacos Datlab', N'8117658434', N'Av.Pino Suarez #614', N'farmacosdatlab@gmail.com')
INSERT [dbo].[PUESTO] ([ID_PUESTO], [TIPO], [SUELDO]) VALUES (N'8f02686a-b7e0-4255-9bd2-47f48d834693', N'Administrador Base de Datos', 2500.0000)
INSERT [dbo].[PUESTO] ([ID_PUESTO], [TIPO], [SUELDO]) VALUES (N'032faf0f-c76c-4827-992f-4bdeb2de15ac', N'Vendedor', 800.0000)
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [PASSWORD], [ID_EMPLEADO], [ADMINISTRADOR]) VALUES (N'1', N'123', N'aebdb8c8-15af-4d32-86c6-0bd684fe0a0d', 0)
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [PASSWORD], [ID_EMPLEADO], [ADMINISTRADOR]) VALUES (N'2', N'123', N'e9375359-b1cc-4d68-b843-39ee13ef5b8b', 0)
INSERT [dbo].[USUARIOS] ([ID_USUARIO], [PASSWORD], [ID_EMPLEADO], [ADMINISTRADOR]) VALUES (N'6', N'123', N'a6182096-27e4-46b0-9bcd-947a311ce397', 0)
/****** Object:  Index [IXFK_EMPLEADO_PUESTO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADO]') AND name = N'IXFK_EMPLEADO_PUESTO')
CREATE NONCLUSTERED INDEX [IXFK_EMPLEADO_PUESTO] ON [dbo].[EMPLEADO]
(
	[ID_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FACTURA_CLIENTE]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FACTURA]') AND name = N'IXFK_FACTURA_CLIENTE')
CREATE NONCLUSTERED INDEX [IXFK_FACTURA_CLIENTE] ON [dbo].[FACTURA]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FACTURA_VENTA]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FACTURA]') AND name = N'IXFK_FACTURA_VENTA')
CREATE NONCLUSTERED INDEX [IXFK_FACTURA_VENTA] ON [dbo].[FACTURA]
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_ORDEN_COMPRA_PROVEEDOR]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ORDEN_COMPRA]') AND name = N'IXFK_ORDEN_COMPRA_PROVEEDOR')
CREATE NONCLUSTERED INDEX [IXFK_ORDEN_COMPRA_PROVEEDOR] ON [dbo].[ORDEN_COMPRA]
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_USUARIOS_EMPLEADO]    Script Date: 10/11/2017 05:33:53 p.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND name = N'IXFK_USUARIOS_EMPLEADO')
CREATE NONCLUSTERED INDEX [IXFK_USUARIOS_EMPLEADO] ON [dbo].[USUARIOS]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_ORDEN_COMPRA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_ORDEN_COMPRA] FOREIGN KEY([ID_ORDEN_COMPRA])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID_ORDEN_COMPRA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_ORDEN_COMPRA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_ORDEN_COMPRA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLEADO_PUESTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLEADO]'))
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_PUESTO] FOREIGN KEY([ID_PUESTO])
REFERENCES [dbo].[PUESTO] ([ID_PUESTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLEADO_PUESTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLEADO]'))
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_PUESTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FACTURA_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[FACTURA]'))
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FACTURA_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[FACTURA]'))
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FACTURA_ID_VENTA_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FACTURA]'))
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_ID_VENTA_EMPLEADO] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[ID_VENTA_EMPLEADO] ([ID_VENTA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FACTURA_ID_VENTA_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FACTURA]'))
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_ID_VENTA_EMPLEADO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_EMPLEADO_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_EMPLEADO]'))
ALTER TABLE [dbo].[ID_VENTA_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_ID_VENTA_EMPLEADO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_EMPLEADO_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_EMPLEADO]'))
ALTER TABLE [dbo].[ID_VENTA_EMPLEADO] CHECK CONSTRAINT [FK_ID_VENTA_EMPLEADO_EMPLEADO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_PRODUCTO_ID_VENTA_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_PRODUCTO]'))
ALTER TABLE [dbo].[ID_VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_VENTA_PRODUCTO_ID_VENTA_EMPLEADO] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[ID_VENTA_EMPLEADO] ([ID_VENTA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_PRODUCTO_ID_VENTA_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_PRODUCTO]'))
ALTER TABLE [dbo].[ID_VENTA_PRODUCTO] CHECK CONSTRAINT [FK_ID_VENTA_PRODUCTO_ID_VENTA_EMPLEADO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_PRODUCTO_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_PRODUCTO]'))
ALTER TABLE [dbo].[ID_VENTA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_VENTA_PRODUCTO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ID_VENTA_PRODUCTO_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[ID_VENTA_PRODUCTO]'))
ALTER TABLE [dbo].[ID_VENTA_PRODUCTO] CHECK CONSTRAINT [FK_ID_VENTA_PRODUCTO_PRODUCTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_COMPRA_PROVEEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_COMPRA]'))
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ORDEN_COMPRA_PROVEEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[ORDEN_COMPRA]'))
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_PROVEEDOR]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIOS_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIOS]'))
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USUARIOS_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[USUARIOS]'))
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_EMPLEADO]
GO
/****** Object:  StoredProcedure [dbo].[facturasdia]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[facturasdia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[facturasdia] AS' 
END
GO
ALTER PROCEDURE [dbo].[facturasdia]
	@dia [date]
WITH EXECUTE AS CALLER
AS
begin
select count (Fecha)
from factura
where Fecha = @dia
end
exec facturasdia '2017-09-24'


GO
/****** Object:  StoredProcedure [dbo].[ProductoPorForma]    Script Date: 10/11/2017 05:33:53 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductoPorForma]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ProductoPorForma] AS' 
END
GO
ALTER PROCEDURE [dbo].[ProductoPorForma]
	@valor [varchar](25)
WITH EXECUTE AS CALLER
AS
begin
	select * from Detalle_Producto_porTipo
	where tipo like @valor
end

GO
USE [master]
GO
